{% extends 'bootstrap_5_layout.html.twig' %}

{% macro test(formview, count = 0) %}
{% if formview.parent is null %}{{ count }}{% else %}{{ _self.test(formview.parent, count + 1) }}{% endif %}
{% endmacro %}

{% block form_row %}
{% if form.parent.vars.compound == true and form.parent.vars['allow_add'] is defined and form.parent.vars['allow_add'] == true %}<button type='button' class='btn btn-danger' onclick='this.nextElementSibling.remove();this.remove()'>Delete {{ form.parent.vars.label }}</button>{% endif %}
{{ parent() }}
{% if form.vars.compound == true and form.vars['allow_add'] is defined and form.vars['allow_add'] == true %}<button class="btn btn-primary create-collection-prototype" data-list-selector="#{{ form.vars.id }}" type="button">Create {{ form.vars.label }}</button>{% endif %}
{% endblock %}
