{% macro boje(boje, bojenStates) %}
    {% set stateBoje = attribute(bojenStates, boje) %}
    {% if stateBoje == "-1" %}
        {{ _self.boje_grau(boje) }}
    {% elseif stateBoje == "0" %}
        {{ _self.boje_irrelevant(boje) }}
    {% elseif stateBoje == "1" %}
        {{ _self.boje_normal(boje) }}
    {% endif %}
{% endmacro %}

{% macro boje_grau(boje) %}
    <div class="boje_grau"></div>
{% endmacro %}

{% macro boje_irrelevant(boje) %}
    <div class="boje_irrelevant">
        <input type="checkbox" name="{{ boje.vars.full_name }}" value="1" id="{{ boje.vars.id }}">
        <label for="{{ boje.vars.id }}"></label>
    </div>
{% endmacro %}

{% macro boje_normal(boje) %}
    <input type="checkbox" name="{{ boje.vars.full_name }}" value="1" id="{{ boje.vars.id }}">
    <label for="{{ boje.vars.id }}"></label>
{% endmacro %}