{% import 'user/bojenrichter/boje.html.twig' as boje_macro %}

{% macro parcours(richtung, bojenStates, form) %}
    {% import _self as macros %}
    {% for i in range(low=5, high=1, step=-1) %}
        {{ macros.tor(richtung, i, bojenStates, form) }}
    {% endfor %}
    <img src="{{ asset('images/schikane.png') }}" alt="schikane" width=25px height=25px id="schikane">
    {{ macros.tor(richtung, 0, bojenStates, form) }}
{% endmacro %}

{% macro tor(richtung, torId, bojenStates, form) %}
    {{ dump(form) }}
    {#
    <div class="tor" id="t{{ torId }}">
        <div class="boje_l">
            {% set boje = richtung~'_T'~torId~'_l' %}
            {{ boje_macro.boje(form[boje], bojenStates) }}
        </div>
        <div class="boje_r">
            {% set boje = richtung~'_T'~torId~'_r' %}
            {{ boje_macro.boje(form[boje], bojenStates) }}
        </div>
    </div>#}
{% endmacro %}

