{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dualListBox') }}
{% endblock %}


{% block body %}
    {{ form_start(form) }}

        {{ form_row(form.institutionen) }}

        <button type="submit" class="btn btn-primary">Bestätigen</button>

    {{ form_end(form) }}
{% endblock %}

